<div id="logo">
	<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQpJEbP4-LyeH5jsq2K_GOsjYz5B9VH_B8CLJvsCu5ti_RMc7W2"/>
</div>

<ul class="nav">
		<li><%= link_to "Products", products_path %></li>
		<li><%= link_to "Organizations", charities_path %></li>
		<li><%= link_to "About", about_static_page_path %> </li>
		<li><%= link_to "Contact", contact_static_page_path %></li>
</ul>