#logo {
	background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQpJEbP4-LyeH5jsq2K_GOsjYz5B9VH_B8CLJvsCu5ti_RMc7W2');
	float: left;
}


.nav {
	list-style-type: none;
	float: right;
	width: 40em;
	
	li {
		display: inline;
	}
}



