@import url('http://fonts.googleapis.com/css?family=Great+Vibes');

$great-vibes: 'Great Vibes', cursive;

#logo {
	float: left;
	p {
		font-family: 'Enriqueta', serif;
	}
	h3 {
	 	font-family: $great-vibes
	}
}


.nav {
	list-style-type: none;
	float: right;
	width: 40em;
	
	li {
		display: inline;
	}
}



